<div class="container" data-page="{{pageName}}">

	<article role="article" class="content">
		<!-- Page Title -->
		<div class="page-title-and-preamble">
			<h1 class="title {{t "assets.pages.about.title.class"}}">
				{{t "pages.about.title.text"}}
			</h1>
			<p class="preamble {{t "assets.pages.about.preamble.class"}}">
				{{t "pages.about.preamble.text"}}
			</p>
		</div>

		<div>
			<h2 class="{{t "assets.pages.about.tagline.header.class"}}">
				{{t "pages.about.tagline.header.text"}}
			</h2>
			<div class="{{t "assets.pages.about.tagline.body.class"}}">
				<p>{{t "pages.about.tagline.body.text"}}</p>
			</div>
		</div>

		<div>
			<h2 class="{{t "assets.pages.about.introduction.header.class"}}">
				{{t "pages.about.introduction.header.text"}}
			</h2>
			<div class="{{t "assets.pages.about.introduction.body.class"}}">
				<p>{{t "pages.about.introduction.body.text.one"}}</p>
				<p>{{t "pages.about.introduction.body.text.two"}}</p>
				<p>{{t "pages.about.introduction.body.text.three"}}</p>
				<p>{{t "pages.about.introduction.body.text.four"}}</p>
			</div>
		</div>
	</article>
</div>
