<div class="container" data-page="{{pageName}}">
	<div class="content">
		<!-- Page Title -->
		<div class="page-title-and-preamble">
			<h1 class="title {{t "assets.pages.careers.title.class"}}">
				{{t "pages.careers.title.text"}}
			</h1>
			<p class="preamble {{t "assets.pages.careers.preamble.class"}}">
				{{t "pages.careers.preamble.text"}}
			</p>
		</div>

		<div>
			<h2 class="{{t "assets.pages.careers.why-join.header.class"}}">
				{{t "pages.careers.why-join.header.text"}}
			</h2>
			<div class="{{t "assets.pages.careers.why-join.body.class"}}">
				<p>{{t "pages.careers.why-join.body.text"}}</p>
			</div>
		</div>

		<div>
			<h2 class="{{t "assets.pages.careers.job-openings.header.class"}}">
				{{t "pages.careers.job-openings.header.text"}}
			</h2>
			<div class="{{t "assets.pages.careers.job-openings.body.class"}}">
				<p>{{t "pages.careers.job-openings.body.text"}}</p>
			</div>
		</div>
	</div>
</div>
