<div class="container" data-page="{{pageName}}">
	<div class="content">
		<!-- Page Title -->
		<div class="page-title-and-preamble">
			<h1 class="title {{t "assets.pages.contact-us.title.class"}}">
				{{t "pages.contact-us.title.text"}}
			</h1>
			<p class="preamble {{t "assets.pages.contact-us.preamble.class"}}">
				{{t "pages.contact-us.preamble.text"}}
			</p>
		</div>

		<div>
			<ul>
				<li>
					{{t "pages.contact-us.contact-details.body.phone.text.pre"}}
					<a target="_blank" href="tel:{{t "assets.pages.contact-us.contact-details.body.phone.number"}}">
						{{t "pages.contact-us.contact-details.body.phone.text.number"}}
					</a>
				</li>
				<li>
					{{t "pages.contact-us.contact-details.body.email.text.pre"}}
					<a target="_blank" href="mailto:{{t "assets.pages.contact-us.contact-details.body.email.address"}}">
						{{t "pages.contact-us.contact-details.body.email.text.address"}}
					</a>
				</li>
				<li>
					{{t "pages.contact-us.contact-details.body.social.text.pre"}}
					<a target="_blank" href="{{t "assets.pages.contact-us.contact-details.body.social.address"}}">
						{{t "pages.contact-us.contact-details.body.social.text.address"}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
