<div class="container" data-page="{{pageName}}">

	<article role="article" class="content row">

		<div class="profile-card col s12 m12 l5">
			<div class="card-panel grey lighten-5 z-depth-1">
				<div class="row">
					<div class="col s12 m12 l12 center-align">
						<img src="{{t "assets.pages.devonte.contact-card.profile-image.src"}}" alt="Profile Image" class="circle responsive-img">
					</div>

					<ul class="contact-card col s12 m12 l12">
						<li class="name">
							<span class="invisible">{{t "pages.devonte.contact-card.name.label"}}: </span>
							<span class="invisible">{{t "pages.devonte.contact-card.name.text"}}</span>
						</li>
						<li class="job-title">
							<span class="invisible">{{t "pages.devonte.contact-card.job-title.label"}}: </span>
							<span class="invisible">{{t "pages.devonte.contact-card.job-title.text"}}</span>
						</li>
						<li class="phone">
							<span class="invisible">{{t "pages.devonte.contact-card.phone.label"}}: </span>
							<span class="invisible">
								<a href="{{t "assets.pages.devonte.contact-card.phone.link"}}">
									{{t "pages.devonte.contact-card.phone.text"}}
								</a>
							</span>
						</li>
						<li class="email">
							<span class="invisible">{{t "pages.devonte.contact-card.email.label"}}: </span>
							<span class="invisible">
								<a href="{{t "assets.pages.devonte.contact-card.email.link"}}">
									{{t "pages.devonte.contact-card.email.text"}}
								</a>
							</span>
						</li>
					</ul>

					<ul class="external-contact-card col s12 m12 l12">
						<li>
							<a href="{{t "assets.pages.devonte.external-contact-card.github.link"}}" target="_blank">
								{{t "pages.devonte.external-contact-card.github.text"}}
							</a>
						</li>
						<li>
							<a href="{{t "assets.pages.devonte.external-contact-card.stack-overflow.link"}}" target="_blank">
								{{t "pages.devonte.external-contact-card.stack-overflow.text"}}
							</a>
						</li>
						<li>
							<a href="{{t "assets.pages.devonte.external-contact-card.key-project.link"}}" target="_blank">
								{{t "pages.devonte.external-contact-card.key-project.text"}}
								</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="profile-introduction col s12 m12 l7">

			<!-- Page Title -->
			<div class="page-title-and-preamble">
				<h1 class="title {{t "assets.pages.devonte.title.class"}}">
					{{t "pages.devonte.title.text"}}
				</h1>
				<p class="preamble {{t "assets.pages.devonte.preamble.class"}}">
					{{t "pages.devonte.preamble.text"}}
				</p>
			</div>

			<div class="tagline invisible">
				<h2 class="{{t "assets.pages.devonte.tagline.header.class"}}">
					{{t "pages.devonte.tagline.header.text"}}
				</h2>
				<div class="{{t "assets.pages.devonte.tagline.body.class"}}">
					<p class="inline">{{t "pages.devonte.tagline.body.text"}}</p>
				</div>
			</div>

			<div>
				<h2 class="{{t "assets.pages.devonte.introduction.header.class"}}">
					{{t "pages.devonte.introduction.header.text"}}
				</h2>
				<div class="{{t "assets.pages.devonte.introduction.body.class"}}">
					<p>{{t "pages.devonte.introduction.body.text.one"}}</p>
					<p>{{t "pages.devonte.introduction.body.text.two"}}</p>
					<p>{{t "pages.devonte.introduction.body.text.three"}}</p>
					<p>{{t "pages.devonte.introduction.body.text.four"}}</p>
				</div>
			</div>
		</div>

		<div class="profile-description col s12">
			<div>
				<h2 class="{{t "assets.pages.devonte.about-me.header.class"}}">
					{{t "pages.devonte.about-me.header.text"}}
				</h2>
				<div class="{{t "assets.pages.devonte.about-me.body.class"}}">
					<p>{{t "pages.devonte.about-me.body.text.one"}}</p>
					<p>{{t "pages.devonte.about-me.body.text.two"}}</p>
					<p>{{t "pages.devonte.about-me.body.text.three"}}</p>
					<p>{{t "pages.devonte.about-me.body.text.four"}}</p>
				</div>
			</div>
		</div>

		<div class="personal-projects col s12">
			<div>
				<h2 class="{{t "assets.pages.devonte.personal-projects.header.class"}}">
					{{t "pages.devonte.personal-projects.header.text"}}
					<div class="in-progress center-align">
						<i class="fa fa-spinner fa-pulse"></i>
						<span>{{t "pages.devonte.personal-projects.header.loading"}} </span>
					</div>
				</h2>
				<div class="{{t "assets.pages.devonte.personal-projects.body.class"}}">

					<p class="sub-header">
						<a href="{{t "assets.pages.devonte.personal-projects.body.text.one.link"}}" target="_blank">
							{{t "pages.devonte.personal-projects.body.text.one"}}
						</a>
					</p>

					<p class="objective">{{t "pages.devonte.personal-projects.body.text.two.objective"}}</p>
					<ul>
						<li>{{t "pages.devonte.personal-projects.body.text.two.points.one"}}</li>
						<li>{{t "pages.devonte.personal-projects.body.text.two.points.two"}}</li>
						<li>{{t "pages.devonte.personal-projects.body.text.two.points.three"}}</li>
						<li>{{t "pages.devonte.personal-projects.body.text.two.points.four"}}</li>
						<li>{{t "pages.devonte.personal-projects.body.text.two.points.five"}}</li>
					</ul>

					<p class="sub-header">
						{{t "pages.devonte.personal-projects.body.text.three"}}
					</p>

					<p class="objective">{{t "pages.devonte.personal-projects.body.text.four.objective"}}</p>
					<ul>
						<li>{{t "pages.devonte.personal-projects.body.text.four.points.one"}}</li>
						<li>{{t "pages.devonte.personal-projects.body.text.four.points.two"}}</li>
						<li>{{t "pages.devonte.personal-projects.body.text.four.points.three"}}</li>
						<li>{{t "pages.devonte.personal-projects.body.text.four.points.four"}}</li>
						<li>{{t "pages.devonte.personal-projects.body.text.four.points.five"}}</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- <div class="job-specific col s12">
			<div>
				<h2 class="{{t "assets.pages.devonte.job-specific.header.class"}}">
					{{t "pages.devonte.job-specific.header.text"}}
				</h2>
				<div class="{{t "assets.pages.devonte.job-specific.body.class"}}">
					<p>{{t "pages.devonte.job-specific.body.text.one"}}</p>
					<p>{{t "pages.devonte.job-specific.body.text.two"}}</p>
					<p>{{t "pages.devonte.job-specific.body.text.three"}}</p>
					<p class="thank-you">{{t "pages.devonte.job-specific.body.text.four"}}</p>
				</div>
			</div>
		</div> -->

	</article>
</div>
