<div class="container" data-page="{{pageName}}">
	<div class="content">
		<!-- Page Title -->
		<div class="page-title-and-preamble">
			<h1 class="title {{t "assets.pages.mission.title.class"}}">
				{{t "pages.mission.title.text"}}
			</h1>
			<p class="preamble {{t "assets.pages.mission.preamble.class"}}">
				{{t "pages.mission.preamble.text"}}
			</p>
		</div>

		<div>
			<h2 class="{{t "assets.pages.mission.our-story.header.class"}}">
				{{t "pages.mission.our-story.header.text"}}
			</h2>
			<div class="{{t "assets.pages.mission.our-story.body.class"}}">
				<p>{{t "pages.mission.our-story.body.text"}}</p>
			</div>
		</div>

		<div>
			<h2 class="{{t "assets.pages.mission.our-mission.header.class"}}">
				{{t "pages.mission.our-mission.header.text"}}
			</h2>
			<div class="{{t "assets.pages.mission.our-mission.body.class"}}">
				<p>{{t "pages.mission.our-mission.body.text"}}</p>
			</div>
		</div>

		<div>
			<h2 class="{{t "assets.pages.mission.our-solution.header.class"}}">
				{{t "pages.mission.our-solution.header.text"}}
			</h2>
			<div class="{{t "assets.pages.mission.our-solution.body.class"}}">
				<p>{{t "pages.mission.our-solution.body.text"}}</p>
			</div>
		</div>
	</div>
</div>
