<div class="container" data-page="{{pageName}}">
	<div class="content">
		<!-- Page Title -->
		<div class="page-title-and-preamble">
			<h1 class="title {{t "assets.pages.press.title.class"}}">
				{{t "pages.press.title.text"}}
			</h1>
			<p class="preamble {{t "assets.pages.press.preamble.class"}}">
				{{t "pages.press.preamble.text"}}
			</p>
		</div>

		<div>
			<h2 class="{{t "assets.pages.press.newsfeed.header.class"}}">
				{{t "pages.press.newsfeed.header.text"}}
			</h2>
			<div class="{{t "assets.pages.press.newsfeed.body.class"}}">
				<p>{{t "pages.press.newsfeed.body.text"}}</p>
			</div>
		</div>
	</div>
</div>
