<div class="container" data-page="{{pageName}}">

	<div class="content">
		<!-- Page Title -->
		<div class="page-title-and-preamble">
			<h1 class="title {{t "assets.pages.social.title.class"}}">
				{{t "pages.social.title.text"}}
			</h1>
			<p class="preamble {{t "assets.pages.social.preamble.class"}}">
				{{t "pages.social.preamble.text"}}
			</p>
		</div>

		<!-- Facebook -->
		<h2 class="{{t "assets.pages.social.facebook.title.class"}}">
			<i class="fa {{t "assets.pages.social.facebook.title.icon"}}"></i>
			<span>{{t "pages.social.facebook.title.text"}}</span>
		</h2>
		<p class="{{t "assets.pages.social.facebook.link.class"}}">
			<a href="{{t "assets.pages.social.facebook.link.href"}}" target="_blank">
				{{t "pages.social.facebook.link.text"}}
			</a>
		</p>

		<!-- Twitter -->
		<h2 class="{{t "assets.pages.social.twitter.title.class"}}">
			<i class="fa {{t "assets.pages.social.twitter.title.icon"}}"></i>
			<span>{{t "pages.social.twitter.title.text"}}</span>
		</h2>
		<p class="{{t "assets.pages.social.twitter.link.class"}}">
			<a href="{{t "assets.pages.social.twitter.link.href"}}" target="_blank">
				{{t "pages.social.twitter.link.text"}}
			</a>
		</p>

		<!-- Instagram -->
		<h2 class="{{t "assets.pages.social.instagram.title.class"}}">
			<i class="fa {{t "assets.pages.social.instagram.title.icon"}}"></i>
			<span>{{t "pages.social.instagram.title.text"}}</span>
		</h2>
		<p class="{{t "assets.pages.social.instagram.link.class"}}">
			<a href="{{t "assets.pages.social.instagram.link.href"}}" target="_blank">
				{{t "pages.social.instagram.link.text"}}
			</a>
		</p>

		<!-- Google+ -->
		<h2 class="{{t "assets.pages.social.googleplus.title.class"}}">
			<i class="fa {{t "assets.pages.social.googleplus.title.icon"}}"></i>
			<span>{{t "pages.social.googleplus.title.text"}}</span>
		</h2>
		<p class="{{t "assets.pages.social.googleplus.link.class"}}">
			<a href="{{t "assets.pages.social.googleplus.link.href"}}" target="_blank">
				{{t "pages.social.googleplus.link.text"}}
			</a>
		</p>

		<!-- LinkedIn -->
		<h2 class="{{t "assets.pages.social.linkedin.title.class"}}">
			<i class="fa {{t "assets.pages.social.linkedin.title.icon"}}"></i>
			<span>{{t "pages.social.linkedin.title.text"}}</span>
		</h2>
		<p class="{{t "assets.pages.social.linkedin.link.class"}}">
			<a href="{{t "assets.pages.social.linkedin.link.href"}}" target="_blank">
				{{t "pages.social.linkedin.link.text"}}
			</a>
		</p>

		<!-- Wordpress -->
		<h2 class="{{t "assets.pages.social.wordpress.title.class"}}">
			<i class="fa {{t "assets.pages.social.wordpress.title.icon"}}"></i>
			<span>{{t "pages.social.wordpress.title.text"}}</span>
		</h2>
		<p class="{{t "assets.pages.social.wordpress.link.class"}}">
			<a href="{{t "assets.pages.social.wordpress.link.href"}}" target="_blank">
				{{t "pages.social.wordpress.link.text"}}
			</a>
		</p>

		<!-- Github -->
		<h2 class="{{t "assets.pages.social.github.title.class"}}">
			<i class="fa {{t "assets.pages.social.github.title.icon"}}"></i>
			<span>{{t "pages.social.github.title.text"}}</span>
		</h2>
		<p class="{{t "assets.pages.social.github.link.class"}}">
			<a href="{{t "assets.pages.social.github.link.href"}}" target="_blank">
				{{t "pages.social.github.link.text"}}
			</a>
		</p>
	</div>

</div>
