<div class="parallax-text-container container large">
  <div class="section">
	<div class="row text">

	  <div class="col s12 center">
		<h3 class="brown-text"><i class="fa {{t "assets.pages.home.sections.three.column-one.icon"}}"></i></h3>
		<h4>{{t "pages.home.sections.three.column-one.header"}}</h4>
		<p class="center-align light">{{t "pages.home.sections.three.column-one.text"}}</p>
	  </div>

	  <div class="control-group">
		<div class="input-field col s12 center">
		  <i class="fa {{t "assets.pages.home.sections.three.column-one.email.icon"}} send-email-icon" {{action "sign-up-updates" on="click"}}></i>
		  {{input value=email type="email" id="newsletter-email" class="validate"}}
		  <label for="newsletter-email">{{t "pages.home.sections.three.column-one.email.label"}}</label>
		</div>
	  </div>

	</div>
  </div>
</div>
