<div class="parallax-text-container container large">
  <div class="section">

	<!--   Icon Section   -->
	<div class="row text">
	  <div class="col s12 m4">
		<div class="icon-block">
		  <h2 class="center brown-text"><i class="fa {{t "assets.pages.home.sections.one.column-one.icon"}}"></i></h2>
		  <h4 class="center">{{t "pages.home.sections.one.column-one.header"}}</h4>
		  <p class="light center">{{t "pages.home.sections.one.column-one.text"}}</p>
		</div>
	  </div>

	  <div class="col s12 m4">
		<div class="icon-block">
		  <h2 class="center brown-text"><i class="fa {{t "assets.pages.home.sections.one.column-two.icon"}}"></i></h2>
		  <h4 class="center">{{t "pages.home.sections.one.column-two.header"}}</h4>
		  <p class="light center">{{t "pages.home.sections.one.column-two.text"}}</p>
		</div>
	  </div>

	  <div class="col s12 m4">
		<div class="icon-block">
		  <h2 class="center brown-text"><i class="fa {{t "assets.pages.home.sections.one.column-three.icon"}}"></i></h2>
		  <h4 class="center">{{t "pages.home.sections.one.column-three.header"}}</h4>
		  <p class="light center">{{t "pages.home.sections.one.column-three.text"}}</p>
		</div>
	  </div>
	  <!-- End Icon Section -->

	</div>
  </div>
</div>
