<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
	<div class="container">
	  <div class="row center light">
		<h5 class="header col s12"><p>{{t "pages.home.sections.two.column-one.text.one"}}</p></h5>
		<h5 class="header col s12"><p>{{t "pages.home.sections.two.column-one.text.two"}}</p></h5>
		<h5 class="header col s12"><p>{{t "pages.home.sections.two.column-one.text.three"}}</p></h5>
	  </div>
	</div>
  </div>
  <div class="parallax"><img src="{{t "assets.pages.home.sections.two.image.src"}}" alt="{{t "pages.home.sections.two.image.alt"}}"></div>
</div>
