<ul>
	<li class="btn-floating {{t "assets.main-action-button.main-links.login.class"}}">
		{{#link-to 'login'}}
			<i class="fa {{t "assets.main-action-button.main-links.login.icon"}}"></i>
		{{/link-to}}
	</li>
	<li class="btn-floating {{t "assets.main-action-button.main-links.sign-up.class"}}">
		{{#link-to 'sign-up'}}
			<i class="fa {{t "assets.main-action-button.main-links.sign-up.icon"}}"></i>
		{{/link-to}}
	</li>
	<li class="btn-floating {{t "assets.main-action-button.main-links.search.class"}}">
		{{#link-to 'search'}}
			<i class="fa {{t "assets.main-action-button.main-links.search.icon"}}"></i>
		{{/link-to}}
	</li>
</ul>
