<div class="container large social-container">
  <div class="section">
	<div class="row">

		<!-- Facebook -->
		<div class="col {{t "assets.social-media-links.facebook.class"}}">
			<a href="{{t "assets.social-media-links.facebook.link"}}" title="{{t "social-media-links.facebook.title"}}" target="_blank" class="-facebook">
				<i class="fa fa-3x {{t "assets.social-media-links.facebook.icon"}}"></i>
			</a>
		</div>

		<!-- Twitter -->
		<div class="col {{t "assets.social-media-links.twitter.class"}}">
			<a href="{{t "assets.social-media-links.twitter.link"}}" title="{{t "social-media-links.twitter.title"}}" target="_blank" class="-twitter">
				<i class="fa fa-3x {{t "assets.social-media-links.twitter.icon"}}"></i>
			</a>
		</div>

		<!-- Instagram -->
		<div class="col {{t "assets.social-media-links.instagram.class"}}">
			<a href="{{t "assets.social-media-links.instagram.link"}}" title="{{t "social-media-links.instagram.title"}}" target="_blank" class="-instagram">
				<i class="fa fa-3x {{t "assets.social-media-links.instagram.icon"}}"></i>
			</a>
		</div>

		<!-- Google+ -->
		<div class="col {{t "assets.social-media-links.googleplus.class"}}">
			<a href="{{t "assets.social-media-links.googleplus.link"}}" title="{{t "social-media-links.googleplus.title"}}" target="_blank" class="-googleplus">
				<i class="fa fa-3x {{t "assets.social-media-links.googleplus.icon"}}"></i>
			</a>
		</div>

		<!-- LinkedIn -->
		<div class="col {{t "assets.social-media-links.linkedin.class"}}">
			<a href="{{t "assets.social-media-links.linkedin.link"}}" title="{{t "social-media-links.linkedin.title"}}" target="_blank" class="-linkedin">
				<i class="fa fa-3x {{t "assets.social-media-links.linkedin.icon"}}"></i>
			</a>
		</div>

		<!-- Wordpress -->
		<div class="col {{t "assets.social-media-links.wordpress.class"}}">
			<a href="{{t "assets.social-media-links.wordpress.link"}}" title="{{t "social-media-links.wordpress.title"}}" target="_blank" class="-wordpress">
				<i class="fa fa-3x {{t "assets.social-media-links.wordpress.icon"}}"></i>
			</a>
		</div>

		<!-- Github -->
		<div class="col {{t "assets.social-media-links.github.class"}}">
			<a href="{{t "assets.social-media-links.github.link"}}" title="{{t "social-media-links.github.title"}}" target="_blank" class="-github">
				<i class="fa fa-3x {{t "assets.social-media-links.github.icon"}}"></i>
			</a>
		</div>

	</div>
  </div>
</div>
