<footer class="page-footer">
	<div class="container large">
		<div class="row">
			
			{{partial "site-components/footer/footer-the-company"}}

			{{partial "site-components/footer/footer-contact-us"}}

			{{partial "site-components/footer/footer-legal"}}

			{{partial "site-components/footer/footer-development"}}

		</div>
	</div>

	<div class="footer-copyright">
		{{partial "site-components/footer/footer-copyright"}}
	</div>
</footer>
