<div class="col {{t "assets.footer.contact-us.class"}}">
	<h5>{{t "footer.contact-us.header.text"}}</h5>
	<ul>
		<li>
			{{#link-to 'social'}}
				<i class="fa {{t "assets.footer.contact-us.social.icon"}}"></i>
				<span>{{t "footer.contact-us.social.text"}}</span>
			{{/link-to}}
		</li>

		<li>
			{{#link-to 'press'}}
				<i class="fa {{t "assets.footer.contact-us.press.icon"}}"></i>
				<span>{{t "footer.contact-us.press.text"}}</span>
			{{/link-to}}
		</li>

		<li>
			{{#link-to 'contact-us'}}
				<i class="fa {{t "assets.footer.contact-us.contact.icon"}}"></i>
				<span>{{t "footer.contact-us.contact.text"}}</span>
			{{/link-to}}
		</li>
	</ul>
</div>
