<div class="col {{t "assets.footer.development.class"}}">
	<h5>{{t "footer.development.header.text"}}</h5>
	<ul>
		<li>
			{{#link-to 'tests'}}
				<i class="fa {{t "assets.footer.development.tests.icon"}}"></i>
				<span>{{t "footer.development.tests.text"}}</span>
			{{/link-to}}
		</li>

		<li>
			{{#link-to 'readme'}}
				<i class="fa {{t "assets.footer.development.readme.icon"}}"></i>
				<span>{{t "footer.development.readme.text"}}</span>
			{{/link-to}}
		</li>

		<li>
			{{#link-to 'licenses'}}
				<i class="fa {{t "assets.footer.development.licenses.icon"}}"></i>
				<span>{{t "footer.development.licenses.text"}}</span>
			{{/link-to}}
		</li>

		<!-- DnD Enterprises / Devonte Github -->
		<li><a href="//github.com/devotox" target="_blank"><i class="fa fa-github"></i><span>Devonte Github</span></a></li>
		<li><a href="//github.com/DnD-Enterprises" target="_blank"><i class="fa fa-github"></i><span>DnD Enterprises</span></a></li>
	</ul>
</div>
