<div class="container large">
	<a class="left" href="/">{{t "footer-copyright.company.text"}}</a>
	<a class="right" href="mailto:{{t "assets.footer-copyright.email.link"}}">{{t "footer-copyright.email.text"}}</a>
	<span class="right spacer">{{t "assets.footer-copyright.contact-us.spacer"}}</span>
	<a class="right" href="tel:{{t "assets.footer-copyright.phone.link"}}">{{t "footer-copyright.phone.text"}}</a>
	<span class="right">{{t "footer-copyright.contact-us.text"}}:&nbsp;</span>
</div>
