
<div class="col {{t "assets.footer.the-company.class"}}">
	<h5>{{t "footer.the-company.header.text"}}</h5>
	<ul>
		<li>
			{{#link-to 'about'}}
				<i class="fa {{t "assets.footer.the-company.about.icon"}}"></i>
				<span>{{t "footer.the-company.about.text"}}</span>
			{{/link-to}}
		</li>

		<li>
			{{#link-to 'careers'}}
				<i class="fa {{t "assets.footer.the-company.careers.icon"}}"></i>
				<span>{{t "footer.the-company.careers.text"}}</span>
			{{/link-to}}
		</li>

		<li>
			{{#link-to 'mission'}}
				<i class="fa {{t "assets.footer.the-company.mission.icon"}}"></i>
				<span>{{t "footer.the-company.mission.text"}}</span>
			{{/link-to}}
		</li>
	</ul>
</div>
