<div class="col {{t "assets.footer.legal.class"}}">
	<h5>{{t "footer.legal.header.text"}}</h5>
	<ul>
		<li>
			{{#link-to 'privacy-policy'}}
				<i class="fa {{t "assets.footer.legal.privacy-policy.icon"}}"></i>
				<span>{{t "footer.legal.privacy-policy.text"}}</span>
			{{/link-to}}
		</li>

		<li>
			{{#link-to 'trust-and-safety'}}
				<i class="fa {{t "assets.footer.legal.trust-and-safety.icon"}}"></i>
				<span>{{t "footer.legal.trust-and-safety.text"}}</span>
			{{/link-to}}
		</li>

		<li>
			{{#link-to 'terms-and-conditions'}}
				<i class="fa {{t "assets.footer.legal.terms-and-conditions.icon"}}"></i>
				<span>{{t "footer.legal.terms-and-conditions.text"}}</span>
			{{/link-to}}
		</li>
	</ul>
</div>
