<li>
	{{#link-to 'home'}}
	<i class="fa {{t "assets.navigation.links.home.icon"}}"></i>
	<span>{{t "navigation.links.home.text"}}</span>
	{{/link-to}}
</li>

<li>
	{{#link-to 'chat'}}
	<i class="fa {{t "assets.navigation.links.chat.icon"}}"></i>
	<span>{{t "navigation.links.chat.text"}}</span>
	{{/link-to}}
</li>

<li>
	{{#link-to 'videos'}}
	<i class="fa {{t "assets.navigation.links.videos.icon"}}"></i>
	<span>{{t "navigation.links.videos.text"}}</span>
	{{/link-to}}
</li>

<li>
	{{#link-to 'search'}}
	<i class="fa {{t "assets.navigation.links.search.icon"}}"></i>
	<span>{{t "navigation.links.search.text"}}</span>
	{{/link-to}}
</li>

{{#if session.isAuthenticated}} <!-- Shows only if user is logged in -->

<li>
	{{#link-to 'account'}}
	<i class="fa {{t "assets.navigation.links.account.icon"}}"></i>
	<span>{{t "navigation.links.account.text"}}</span>
	{{/link-to}}
</li>

<li>
	{{#link-to 'profile'}}
	<i class="fa {{t "assets.navigation.links.profile.icon"}}"></i>
	<span>{{t "navigation.links.profile.text"}}</span>
	{{/link-to}}
</li>

<li>
	{{#link-to 'logout'}}
	<i class="fa {{t "assets.navigation.links.logout.icon"}}"></i>
	<span>{{t "navigation.links.logout.text"}}</span>
	{{/link-to}}
</li>

{{else}}  <!-- Shows only if user is logged out -->

<li>
	{{#link-to 'login'}}
	<i class="fa {{t "assets.navigation.links.login.icon"}}"></i>
	<span>{{t "navigation.links.login.text"}}</span>
	{{/link-to}}
</li>

{{/if}}

<!-- Locale (Language) Picker -->
<li>
	<div class="nav-select-wrapper">
		<i class="fa {{t "assets.components.locale-select.icon"}}"></i>
		<span>{{locale-select}}</span>
	</div>
</li>
