<li>
	<div class="userView">
		<img class="background" src="/assets/images/default/user-background.png">

		{{#if session.isAuthenticated}}
			{{#link-to 'account'}}
				<img class="circle" src="{{user.currentUser.profile.image}}">
				<div class="white-text name">
					{{user.currentUser.profile.firstname}}
					{{user.currentUser.profile.lastname}}
				</div>
				<div class="white-text email">
					{{user.currentUser.profile.email}}
				</div>
			{{/link-to}}
		{{else}}
			{{#link-to 'login'}}
				<img class="circle" src="/assets/images/default/user-default-image.png">
				<div class="white-text name">Login</div>
				<div class="white-text email"></div>
			{{/link-to}}
		{{/if}}
	</div>
</li>
