<li>
	<div class="userView">
		<img class="background" src="//image.freepik.com/free-vector/nature-background-of-a-grassy-landscape_1048-1305.jpg">

		{{#if session.isAuthenticated}}
			{{#link-to 'account'}}
				<img class="circle" src="{{user.currentUser.profile.image}}">
				<div class="white-text name">
					{{user.currentUser.profile.firstname}}
					{{user.currentUser.profile.lastname}}
				</div>
				<div class="white-text email">
					{{user.currentUser.profile.email}}
				</div>
			{{/link-to}}
		{{else}}
			{{#link-to 'login'}}
				<img class="circle" src="//www.fanspole.com/assets/default_user-c283cfbc3d432e22b1d2f1eef515d0b9.png">
				<div class="white-text name">Login</div>
				<div class="white-text email"></div>
			{{/link-to}}
		{{/if}}
	</div>
</li>
